@model Proyecto_1.Models.marcas

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Editar marca   @ViewBag.img - @ViewBag.id</h2>
@using (Html.BeginForm("Edit", "marcas", null, FormMethod.Post, new { enctype = "multipart/form-data" }))

{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Id)

    <div class="form-group text-left">
        <label>Nombre:</label>
        @Html.EditorFor(model => model.nombre, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.nombre, "", new { @class = "text-danger" })
    </div>

    <div class="form-group text-left">
        <label>Imagen:</label>
        <input type="file" id="imagenMarca" name="imagenMarca" accept="image/*" />
    </div>

    <div class="form-group">
        <img class="border" src="~/Imagenes/Marcas/@ViewData["imagenM"]" width="165" id="imagenSalidam" />
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Guardar cambios" class="btn boton" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Ver marcas", "Index", new { id = "" }, new { @class = "link-item" })
</div>
