@using Proyecto_1.Models;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main style="min-height:900px;">
    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="row">
                        <div class="col">
                            <h2 class="section-heading">Carrito</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="table-responsive">
                                <table class="table ">
                                    <thead>
                                        <tr class="info">
                                            <th>Opción</th>
                                            <th>Modelo</th>
                                            <th>Foto</th>
                                            <th>Precio</th>
                                            <th>Cantidad</th>
                                            <th>Subtotal</th>
                                        </tr>
                                        
                                        @foreach (Item item in (List<Item>)Session["cart"])
                                        {
                                            // todo esto hace la magia
                                            var f= (@item.llantas.precioVenta * @item.cantidad);
                                        <tr>
                                            <td><a href="@Url.Action("quitar","Carro",new{id=item.llantas.Id})">Quitar</a></td>
                                            <td>@item.llantas.modelo</td>
                                            <td> <img  src="~/Imagenes/llantas/@item.llantas.imagen" width="100" id="imagenSalida" /></td>
                                            <td>@item.llantas.precioVenta</td>
                                            <td>@item.cantidad</td>
                                            <td>
                                                @f
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="right" colspan="5">Total:</td>
                                            <td>
                                                @{ 
                                                    List<Item> carro = (List<Item>)Session["cart"];
                                                    var total = carro.Sum(Item => item.llantas.precioVenta * item.cantidad);

                                                }
                                                @total;
                                            </td>
                                        </tr>
                                    }

                                    </table>
                                </div>
                            </div>
                        </div>

                        <div class="row d-flex justify-content-center">
                            <div class="col col-md-4">
                                <a class="btn btn-info" style="color:white!important;" href=@Url.Action("Index","Home")>Seguir comprando</a>
                            </div>
                            <div class="col col-md-4" style="color:white!important;">
                                @Html.ActionLink("Confirmar orden", "CrearOrden", "Pago", new { area = " " }, new { @class = "btn boton" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
