@model Proyecto_1.Models.paqueterias

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Eliminar</h2>

<h3>Se eliminará esta paquetería</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Nombre
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
            Página web
        </dt>

        <dd>
            @Html.DisplayFor(model => model.web)
        </dd>

        <dt>
            Teléfono
        </dt>

        <dd>
            @Html.DisplayFor(model => model.telefono)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-group">
            <input type="submit" value="Eliminar" class="btn boton" />
        </div>
    }
    <div>
        @Html.ActionLink("Ver paqueterías", "Index", new { id = "" }, new { @class = "link-item" })
    </div>
</div>
