@model Proyecto_1.Models.paqueterias

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Detalles de la paquetería</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Nombre
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
            Página web
        </dt>

        <dd>
            @Html.DisplayFor(model => model.web)
        </dd>

        <dt>
            Teléfono
        </dt>

        <dd>
            @Html.DisplayFor(model => model.telefono)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id }, new { @class = "link-item" }) |
    @Html.ActionLink("Ver paqueterías", "Index", new { id = "" }, new { @class = "link-item" })
</p>
