@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", style = "display: flex;", @class = "" }))
    {
        @Html.AntiForgeryToken()
        string name = @Session["name"].ToString();
        <li class="nav-item dropdown" style="margin-right:5px;">
            @*@Html.ActionLink("Hola " + name, "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage", @class = "nav-link js-scroll-trigger opciones" })*@
            <a class="dropdown-toggle nav-link opciones" role="button" aria-expanded="false" data-toggle="dropdown">Hola @name<span class="caret"></span></a>
            <div class="dropdown-menu" role="menu">
                @Html.ActionLink("Mis Pedidos", "Index", "Pedidos", null, new { id = "add", @class = "dropdown-item opciones" })
                @Html.ActionLink("Editar perfil", "Edit", "Clientes", null, new { @class = "dropdown-item opciones" })
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link js-scroll-trigger opciones" href=@Url.Action("Index","Carro")>
                <i class="tamanio-icono fa fa-shopping-cart"></i>(0)
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link js-scroll-trigger opciones" href="javascript:document.getElementById('logoutForm').submit()">Cerrar sesión</a>
        </li>
    }
}
else
{

    <li class="nav-item">@Html.ActionLink("Registrarse", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "nav-link js-scroll-trigger opciones" })</li>
    <li class="nav-item">@Html.ActionLink("Iniciar sesión", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "nav-link js-scroll-trigger opciones" })</li>
    <li class="nav-item">
        <a class="nav-link js-scroll-trigger opciones" href=""><i class="tamanio-icono fa fa-shopping-cart"></i>(0)</a>
    </li>
}
