@model Proyecto_1.Models.subcategorias

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutCompras.cshtml";
}

<h2>Eliminar</h2>

<h3>¿Seguro quieres elimanar esta subcategoria?</h3>
<div>
    <h4>subcategorias</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.categorias.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.categorias.nombre)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @Html.ActionLink("Regresar a la lista", "Index", new { id = " "}, new { @class = "link-item" })
        </div>
    }
</div>
