@model Proyecto_1.Models.subcategorias

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutCompras.cshtml";
}

<h2>Detalles</h2>

<div>
    <h4>subcategorias</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
           Nombre
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
          Descripcion
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descripcion)
        </dd>

        <dt>
           Categoria
        </dt>

        <dd>
            @Html.DisplayFor(model => model.categorias.nombre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id }, new { @class = "link-item" }) |
    @Html.ActionLink("Regresar a la lista", "Index", new { id = Model.Id }, new { @class = "link-item" })
</p>
