@model Proyecto_1.Models.usuarios

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Eliminar</h2>

<h3>Se eliminará este empleado</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <div class="row">
            <div class="col text-left">
                <dt>
                    Nombre
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.nombre)
                </dd>

                <dt>
                    Apellido paterno
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.apellidoPaterno)
                </dd>

                <dt>
                    Apellido materno
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.apellidoMaterno)
                </dd>

                <dt>
                    Teléfono
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.telefono)
                </dd>

                <dt>
                    Correo electrónico
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.correoElectronico)
                </dd>

                <dt>
                    Estado
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.estado)
                </dd>
            </div>
            <div class="col text-left">
                <dt>
                    Municipio
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.municipio)
                </dd>

                <dt>
                    Colonia
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.colonia)
                </dd>

                <dt>
                    Calle
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.calle)
                </dd>

                <dt>
                    Número de casa
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.numeroCasa)
                </dd>

                <dt>
                    C.P.
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.cp)
                </dd>

                <dt>
                    Puesto
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.roles.nombre)
                </dd>
            </div>
        </div>
    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-group">
            <input type="submit" value="Eliminar" class="btn boton" />
        </div>
    }
    <div>
        @Html.ActionLink("Ver empleados", "Index", new { id = "" }, new { @class = "link-item" })
    </div>
</div>
