@model Proyecto_1.Models.envios

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutCompras.cshtml";
}

<h2>Crear envío</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal" style="padding: 0px 175px;">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group text-left">
            <label>Paquetería:</label>
            @Html.DropDownList("id_paqueteria", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.id_paqueteria, "", new { @class = "text-danger" })
        </div>

        <div class="form-group text-left">
            <label>No. de venta:</label>
            @Html.DropDownList("id_venta", null, htmlAttributes: new { @class = "form-control", id = "id_venta" })
            @Html.ValidationMessageFor(model => model.id_venta, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-horizontal" style="width:700px;">
        <div class="row">
            <div class="col">
                <p><strong>Fecha de venta:</strong></p>
                <p id="p_fechaVenta"></p>
            </div>
            <div class="col">
                <p><strong>Total de venta:</strong></p>
                <p id="p_totalVenta"></p>
            </div>
        </div>
        <div class="row">
            <div style="width:100%;">
                <p><strong>INFORMACIÓN DE CONTACTO</strong></p>
            </div>
            <div style="width:100%;">
                <p><strong>Entregar a:</strong></p>
                <p id="p_nombre"></p>
            </div>
            <div style="width:100%;">
                <p><strong>Dirección:</strong></p>
                <p id="p_direccion"></p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p><strong>Correo electrónico:</strong></p>
                <p id="p_correo"></p>
            </div>
            <div class="col">
                <p><strong>Teléfono:</strong></p>
                <p id="p_telefono"></p>
            </div>
        </div>

        <div class="form-group">
            <input type="submit" value="Crear envío" class="btn boton" />
        </div>
    </div>
}

<script>


    var cboVentas = document.getElementById("id_venta");
    cboVentas.addEventListener("change", Refresh);
    Refresh();
    function Refresh()
    {
        fetch("@Url.Content("~/envios/obtenerVentaUsuario")" + "?ventaID=" + cboVentas.value)
            .then(function (result) {
                if (result.ok) {
                    return result.json();
                }
            })
            .then(function (data) {
                data.forEach(function (element) {
                    var pfechaVenta = document.getElementById("p_fechaVenta");
                    var ptotalVenta = document.getElementById("p_totalVenta");
                    var pnombre = document.getElementById("p_nombre");
                    var pdireccion = document.getElementById("p_direccion");
                    var pcorreo = document.getElementById("p_correo");
                    var ptelefono = document.getElementById("p_telefono");
                    var fechaString = element.fechaVenta.substring(6, 19);
                    var fechaActual = new Date(parseInt(fechaString));
                    var mes = fechaActual.getMonth() + 1;
                    var dia = fechaActual.getDate();
                    var anio = fechaActual.getFullYear();
                    var fecha = dia + "/" + mes + "/" + anio;
                    console.log(fecha);
                    pfechaVenta.innerHTML = fecha;
                    ptotalVenta.innerHTML = "$ " + element.total;
                    pnombre.innerHTML = element.nombre + " " + element.apellidoPaterno + " " + element.apellidoMaterno;
                    pdireccion.innerHTML = element.cp + " " + element.estado + " " + element.municipio + " " + element.colonia + " " + element.calle + " " + element.numeroCasa;
                    pcorreo.innerHTML = element.correoElectronico;
                    ptelefono.innerHTML = element.telefono;
                })
            })
    }
</script>

<div>
    @Html.ActionLink("Ver envíos", "Index", new { id = "" }, new { @class = "link-item" })
</div>
