@model Proyecto_1.Models.envios

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutCompras.cshtml";
}

<h2>Details</h2>

<div>
    <h4>envios</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.fechaCreacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechaCreacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fechaEnvio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechaEnvio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.paqueterias.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.paqueterias.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ventas.Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ventas.Id)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
