@model IEnumerable<Proyecto_1.Models.envios>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutCompras.cshtml";
}

<h2>Envíos</h2>

<p style="margin-top:20px; margin-bottom:40px;">
    @Html.ActionLink("Crear envío", "Create", new { id = "" }, new { @class = "link-item" })
</p>
<table class="table">
    <tr>
        <th>
            No. de envío
        </th>
        <th>
            Fecha de creación
        </th>
        <th>
            Última actualización
        </th>
        <th>
            Estado
        </th>
        <th>
            No. de venta
        </th>
        <th>
            Acciones
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                NE-@Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Convert.ToString(string.Format("{0:dd/MM/yyyy}", item.fechaCreacion))
            </td>
            <td>
                @Convert.ToString(string.Format("{0:dd/MM/yyyy}", item.fechaEnvio))
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.estado)
            </td>
            <td>
                NV-@Html.DisplayFor(modelItem => item.ventas.Id)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.Id }, new { @class = "link-item" }) |
                @Html.ActionLink("Detalles", "Details", new { id = item.Id }, new { @class = "link-item" }) |
                @Html.ActionLink("Eliminar", "Delete", new { id = item.Id }, new { @class = "link-item" })
            </td>
        </tr>
    }

</table>
