@using Proyecto_1.Models;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Historial de Pedidos</h2>

<main>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="row">
                        <div class="col">
                            <h2 class="section-heading">Historial de pedidos</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col text-left">
                            <p>Número de envío:</p>
                            <p>Fecha de creación:</p>
                            <p>Fecha de última actualización:</p>
                            <p>Estado:</p>
                            <p>Paqueteria:</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="table-responsive">
                                <table class="table ">
                                    <thead>
                                        <tr class="info">
                                            <th>Modelo</th>
                                            <th>Foto</th>
                                            <th>Precio</th>
                                            <th>Cantidad</th>
                                            <th>Subtotal</th>
                                        </tr>
                                    </thead>
                                    @foreach (Item item in (List<Item>)Session["cart"])
                                    {
                                        // todo esto hace la magia
                                        var f = (@item.llantas.precioVenta * @item.cantidad);
                                        <tr>

                                            <td>@item.llantas.modelo</td>
                                            <td> <img src="~/Imagenes/llantas/@item.llantas.imagen" width="100" id="imagenSalida" /></td>
                                            <td>@item.llantas.precioVenta</td>
                                            <td>@item.cantidad</td>
                                            <td>
                                                @f
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="right" colspan="5">Total:</td>
                                            <td>
                                                @{
                                                    List<Item> carro = (List<Item>)Session["cart"];
                                                    var total = carro.Sum(Item => item.llantas.precioVenta * item.cantidad);

                                                }
                                                @total;
                                            </td>
                                        </tr>
                                    }
                                </table>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>


@*
    <table class="table table-bordered table-responsive table-striped">
        @{ if (Session["misPedidos"] != null)
            {
                foreach (PedidoCliente pedido in (List<PedidoCliente>)Session["misPedidos"])
                {
                    int idOrd = pedido.Orden.Id_orden;
                    <tr>
                        <td>Fecha: @pedido.Fecha</td>
                        <td>Envio: @pedido.envio</td>
                        <td>Entrega: @pedido.status</td>
                    </tr>
                    foreach (ItemPedido item in (List<ItemPedido>)Session["Pedido"])
                    {
                        if (item.idOrd == idOrd)
                        {
                    <tr>
                        <td>@item.Product.nombre</td>
                        <td><img class="img-responsive" src="~/Imagenes/llantas/@item.llantas.imagen"</td>
                        <td>@item.Product.precio</td>
                        <td>@item.Cantidad</td>
                        <td>@(item.Product.precio * item.Cantidad)</td>
                    </tr>
                        }
                    }

                    <tr>
                        <td aling="rigth" colspan="4">Total</td>
                        <td>@pedido.Total</td>
                    </tr>
                    }



                }

            }

        </table>
*@
<br>
<a class="btn btn-warning" href="@Url.Action("Index", "Home")">Ir a la tienda</a>