@model Proyecto_1.Models.proveedores

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Datos</h2>

<div>
    <h4>proveedores</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Razon Social
        </dt>

        <dd>
            @Html.DisplayFor(model => model.razonSocial)
        </dd>

        <dt>
         RFC
        </dt>

        <dd>
            @Html.DisplayFor(model => model.rfc)
        </dd>

        <dt>
          Dirrecion
        </dt>

        <dd>
            @Html.DisplayFor(model => model.direccion)
        </dd>

        <dt>
           Telefono
        </dt>

        <dd>
            @Html.DisplayFor(model => model.telefono)
        </dd>

        <dt>
           Correo Electronico
        </dt>

        <dd>
            @Html.DisplayFor(model => model.correoElectronico)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id }, new { @class = "link-item" }) |
    @Html.ActionLink("Regresar a la lista", "Index", new { id = "" }, new { @class = "link-item" })
</p>
