@model IEnumerable<Proyecto_1.Models.proveedores>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Provedores</h2>

<p style="margin-top:20px; margin-bottom:40px;">
    @Html.ActionLink("Crear Provedor", "Create", new { id = "" }, new { @class = "link-item" })
</p>
<table class="table">
    <tr>
        <th>
            Razon Social
        </th>
        <th>
            RFC
        </th>
        <th>
            Direccion
        </th>
        <th>
            Telefono
        </th>
        <th>
            Correo Electronico
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.razonSocial)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.rfc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.direccion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.telefono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.correoElectronico)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Datos", "Details", new { id = item.Id }) |
                @Html.ActionLink("Eliminar", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
