
@{
    ViewBag.Title = "Detalle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<main>
    <h2>Detalles de la llanta</h2>
    <br /><br /><br /><br /><br />
    <div>
        <hr />
        <dl class="dl-horizontal">
            <div class="row" style="width:700px;">
                <div class="col text-left">
                    <dt>
                        Modelo
                    </dt>

                    <dd>
                        @ViewBag.detalleModelo
                    </dd>

                    <dt>
                        Descripción
                    </dt>

                    <dd>
                        @ViewBag.detalleDescripcion
                    </dd>

                    <dt>
                        Rin
                    </dt>

                    <dd>
                        @ViewBag.detalleRin"
                    </dd>

                    <dt>
                        Ancho
                    </dt>

                    <dd>
                        @ViewBag.detalleAncho
                    </dd>

                    <dt>
                        Perfil
                    </dt>

                    <dd>
                        @ViewBag.detallePerfil
                    </dd>

                    <dt>
                        Carga
                    </dt>

                    <dd>
                        @ViewBag.detalleCarga
                    </dd>
                </div>
                <div class="col text-left">
                    <dt>
                        Imagen
                    </dt>

                    <dd>
                        <img style="margin:14px 0px;" class="border" src="~/Imagenes/llantas/@ViewBag.detalleImg" width="165" />
                    </dd>
                </div>
                <div class="col text-left">
                    <dt>
                        Precio
                    </dt>

                    <dd>
                        $@ViewBag.detallePrecio
                    </dd>

                    <dt>
                        Marca
                    </dt>

                    <dd>
                        @ViewBag.detalleMarca
                    </dd>

                </div>
            </div>
        </dl>
    </div>
</main>
