@using Proyecto_1.Models;
@{
    ViewBag.Title = "Home Page";
}

<header class="masthead" style="background-image:url(../../Content/img/fondoLlantas.jpeg);">    
    <div class="container">
        <div class="intro-text">
            <div class="intro-heading text-uppercase"><span>Bienvenidos</span></div>
        </div>
    </div>
</header>

<main>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="text-uppercase section-heading">marcas</h2>
                </div>
            </div>
            <div class="row text-center">
                @foreach (marcas marca in ViewBag.marcas)
                 {               
                    <div class="col col-md-2 valor-columna">
                        <span class="fa-stack fa-4x"><img src="~/Content/img/Logo.png" style="width: 100%;"></span>
                        <h4 class="section-heading">@marca.nombre</h4>
                    </div>   
                 }
            </div>
        </div>
    </section>
    <section class="bg-light">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="text-uppercase section-heading">Productos más vendidos</h2>
                </div>
            </div>
            <div class="row text-center">
               @{ int aux = -1;}
               @foreach (llantas llanta in ViewBag.llantasMasVendidas)
               {
                aux++;
                <div class="col col-md-4 valor-columna">
                    <span class="fa-stack fa-4x" style="width: 100%;">
                        <img src="~/Content/img/llanta1.jpg" style="height: 100%;">
                    </span>
                    <h4 class="section-heading" style="font-size: 20px;">Modelo: @llanta.modelo</h4>
                    <h4 class="section-heading" style="font-size: 20px;margin-top: 0px;">Ventas: @ViewBag.llantasVentas[aux]</h4>
                    <h4 class="section-heading" style="font-size: 20px;margin-top: 0px;">Subcategoría: @llanta.subcategorias.nombre</h4>
                    <h4 class="section-heading" style="font-size: 20px;margin-top: 0px;">Marca: @llanta.marcas.nombre</h4>
                    <h4 class="section-heading" style="font-size: 20px;margin-top: 0px;">Rin: @llanta.rin</h4>
                    <h4 class="section-heading" style="font-size: 20px;margin-top: 0px;">Ancho: @llanta.ancho cm</h4>
                    <h4 class="section-heading" style="font-size: 20px;margin-top: 0px;">Precio: $@llanta.precioVenta</h4><button class="btn btn-primary" type="button" style="background: rgb(255,76,1);">Comprar</button>
                </div>
                }
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="text-uppercase section-heading">contacto</h2>
                </div>
            </div>
            <div class="row text-center">
                <div class="col col-md-6 valor-columna">
                    <span class="fa-stack fa-4x"><i class="fa fa-circle fa-stack-2x icono-inicio"></i><i class="fa fa-envelope fa-stack-1x fa-inverse"></i></span>
                    <h4 class="section-heading">llanterashalcon@gmail.com</h4>
                </div>
                <div class="col col-md-6 valor-columna">
                    <span class="fa-stack fa-4x"><i class="fa fa-circle fa-stack-2x icono-inicio"></i><i class="fa fa-phone fa-stack-1x fa-inverse"></i></span>
                    <h4>(722) 123-45-67</h4>
                </div>
            </div>
        </div>
    </section>
</main>