@model Proyecto_1.Models.detallesCompras

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutCompras.cshtml";
    string fechaCreacion = DateTime.Today.ToShortDateString();
}

<h2>Crear compra</h2>



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">

    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-group">
        <label>Fecha: @fechaCreacion</label>
    </div>

    <div class="form-group text-left">      
        <label>Cantidad:</label>
        <div class="col-md-10">
            @Html.EditorFor(model => model.cantidad, new { htmlAttributes = new { @class = "form-control", @id = "tcantidad" } })
            @Html.ValidationMessageFor(model => model.cantidad, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group text-left">
        <label>Precio de compra:</label>
        <div class="col-md-10">
            @Html.EditorFor(model => model.precioCompra, new { htmlAttributes = new { @class = "form-control", @id = "precioCompra" } })
            @Html.ValidationMessageFor(model => model.precioCompra, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group text-left">
        <label>Precio de venta</label>
        <div class="col-md-10">
            @Html.EditorFor(model => model.precioVenta, new { htmlAttributes = new { @class = "form-control", @id = "precioVenta" } })
            @Html.ValidationMessageFor(model => model.precioVenta, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group text-left">
        <label>Id de compra:</label>
        <div class="col-md-10">
            @Html.DropDownList("id_compra", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.id_compra, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group text-left">
        <label>Id de llanta:</label>
        <div class="col-md-10">
            @Html.DropDownList("id_llanta", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.id_llanta, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group text-center">

        <label id="labiva">iva: </label>
        <br>
        <label id="labsub">Subtotal: </label>
        <br>
        <label id="labtot">Total: </label>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Crear" class="btn boton" id="butonAgregar" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Ver compras", "Index", new { id = "" }, new { @class = "link-item" })
</div>

<script type="text/javascript">

        var boolcantidad = false;
        var boolprecioc = false;
        var iva = 0;
        var subtotal = 0;
        var total = 0;


        $(document).ready(function () {

            //Operacion
            $('#tcantidad').on('change', function () {
                refresh();
                calculadora();
            });

            $('#precioCompra').on('change', function () {
                refresh();
                calculadora();
            });
            $('#precioVenta').on('change', function () {
                refresh();

            });


            //Validar datos
            $('#butonAgregar').click(function () {


                var idProveedoress = $('#comboboxProveedores option:selected').val();
                var precioCompra = $('#precioCompra').val();
                var precioVenta = $('#precioVenta').val();


                if (idProveedoress != -1) {
                    if (boolcantidad == true && boolprecioc == true) {
                        if (precioVenta > 0) {
                            if (precioCompra < precioVenta) {

                                alert('subtotal: ' + subtotal + '   Iva:  ' + iva + '   Total:  ' + total);
                            } else {
                                alert('Precio de compra es menor al precio de venta');
                            }
                        } else {
                            alert('Precio de venta incorrecto');
                        }
                    } else {
                        alert('La cantidad y/o el costo deben que ser mayor que cero');
                    }
                } else {
                    alert('Error al introducir el proveedor');
                }


            });

        });





        //'Refrescar valores
        function refresh() {
            var cantidad = $('#tcantidad').val();
            var precioc = $('#precioCompra').val();


            if (cantidad > 0) {
                boolcantidad = true;
            } else {
                boolcantidad = false;
                iva = 0;
                subtotal = 0;
                total = 0;

            }
            if (precioc > 0) {
                boolprecioc = true;
            } else {
                boolprecioc = false;
                iva = 0;
                subtotal = 0;
                total = 0;
            }

        }
        //
        function calculadora() {
            var cantidad = $('#tcantidad').val();
            var precioc = $('#precioCompra').val();

            if (boolcantidad = true) {
                if (boolprecioc = true) {

                    subtotal = precioc * cantidad;
                    iva = subtotal * .16;
                    total = subtotal + iva;

                    $('#labiva').html('iva: ' + iva);
                    $('#labsub').html('subtotal: ' + subtotal);
                    $('#labtot').html('total: ' + total);
                }
            }
        }

</script>
