@model Proyecto_1.Models.detallesCompras

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutCompras.cshtml";
}

<h2>Detalles de la compra</h2>

<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
           Cantidad
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cantidad)
        </dd>

        <dt>
           Precio compra
        </dt>

        <dd>
            @Html.DisplayFor(model => model.precioCompra)
        </dd>

        <dt>
           Precio venta
        </dt>

        <dd>
            @Html.DisplayFor(model => model.precioVenta)
        </dd>

        <dt>
            Id de compra
        </dt>

        <dd>
            @Html.DisplayFor(model => model.compras.Id)
        </dd>

        <dt>
            Modelo
        </dt>

        <dd>
            @Html.DisplayFor(model => model.llantas.modelo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Ver compras", "Index")
</p>
