@model IEnumerable<Proyecto_1.Models.detallesCompras>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutCompras.cshtml";
}

<h2>Compras</h2>

<p>
    @Html.ActionLink("Crear compra", "Create")
</p>
<table class="table">
    <tr>
        <th>
           Cantidad
        </th>
        <th>
            Precio compra
        </th>
        <th>
           Precio venta
        </th>
        <th>
            Id de compra
        </th>
        <th>
            Modelo de Llanta
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.cantidad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.precioCompra)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.precioVenta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.compras.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.llantas.modelo)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.Id }, new { @class = "link-item" }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.Id }, new { @class = "link-item" }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.Id }, new { @class = "link-item" })
        </td>
    </tr>
}

</table>
