@model Proyecto_1.Models.llantas

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutCompras.cshtml";
}

<h2>Eliminar</h2>

<h3>Se eliminará esta llanta</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <div class="row" style="width:700px;">
            <div class="col text-left">
                <dt>
                    Modelo
                </dt>

                <dd>
                    @ViewBag.listaLlantas.modelo
                </dd>

                <dt>
                    Carga
                </dt>

                <dd>
                    @ViewBag.listaLlantas.carga
                </dd>

                <dt>
                    Rin
                </dt>

                <dd>
                    @ViewBag.listaLlantas.rin"
                </dd>

                <dt>
                    Ancho
                </dt>

                <dd>
                    @ViewBag.listaLlantas.ancho
                </dd>

                <dt>
                    Perfil
                </dt>

                <dd>
                    @ViewBag.listaLlantas.perfil
                </dd>

                <dt>
                    Stock
                </dt>

                <dd>
                    @ViewBag.listaLlantas.stock
                </dd>

                <dt>
                    Existencia
                </dt>

                <dd>
                    @ViewBag.listaLlantas.existencia
                </dd>                                                            
                
            </div>
            <div class="col text-left" style="margin-right:60px;">
                <dt>
                    Descripción
                </dt>

                <dd>
                    @ViewBag.listaLlantas.descripcion
                </dd>  

                <dt>
                    Imagen
                </dt>

                <dd>
                    <img style="margin:14px 0px;" class="border" src="~/Imagenes/llantas/@ViewBag.listaLlantas.imagen" width="165" />
                </dd>                
                
            </div>
            <div class="col text-left">
                <dt>
                    Precio de venta
                </dt>

                <dd>
                    $@ViewBag.listaLlantas.precioVenta
                </dd>

                <dt>
                    Precio de compra
                </dt>

                <dd>
                    $@ViewBag.listaLlantas.precioCompra
                </dd>

                <dt>
                    Última actualización
                </dt>

                <dd>
                    @ViewData["fechaUlt"]
                </dd>

                <dt>
                    Proveedor
                </dt>

                <dd>
                    @ViewBag.listaLlantas.proveedor
                </dd>

                <dt>
                   Categoría
                </dt>

                <dd>
                    @ViewBag.listaLlantas.categoria
                </dd>

                <dt>
                    Subcategoría
                </dt>

                <dd>
                    @ViewBag.listaLlantas.subcategoria
                </dd>

                <dt>
                    Marca
                </dt>

                <dd>
                    @ViewBag.listaLlantas.marca
                </dd>
                
            </div>
        </div>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-group">
            <input type="submit" value="Eliminar" class="btn boton" />
        </div>
    }
    <div>
        @Html.ActionLink("Ver llantas", "Index", new { id = "" }, new { @class = "link-item" })
    </div>
</div>
