@model Proyecto_1.Models.llantas

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutCompras.cshtml";
}

<h2>Eliminar</h2>

<h3>Se eliminará esta llanta</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <div class="row" style="width:700px;">
            <div class="col text-left">
                <dt>
                    Modelo
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.modelo)
                </dd>

                <dt>
                    Descripción
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.descripcion)
                </dd>

                <dt>
                    Rin
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.rin)"
                </dd>

                <dt>
                    Ancho
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ancho)
                </dd>

                <dt>
                    Perfil
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.perfil)
                </dd>

                <dt>
                    Carga
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.carga)
                </dd>
            </div>
            <div class="col text-left">
                <dt>
                    Imagen
                </dt>

                <dd>
                    <img style="margin:14px 0px;" class="border" src="~/Imagenes/llantas/@ViewData["imagenL"]" width="165" />
                </dd>

                <dt>
                    Stock
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.stock)
                </dd>

                <dt>
                    Existencia
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.existencia)
                </dd>
            </div>
            <div class="col text-left">
                <dt>
                    Precio de venta
                </dt>

                <dd>
                    $@Html.DisplayFor(model => model.precioVenta)
                </dd>

                <dt>
                    Precio de compra
                </dt>

                <dd>
                    $@Html.DisplayFor(model => model.precioCompra)
                </dd>

                <dt>
                    Última actualización
                </dt>

                <dd>
                    @ViewData["fechaUlt"]
                </dd>

                <dt>
                    Marca
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.marcas.nombre)
                </dd>

                <dt>
                    Proveedor
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.proveedores.razonSocial)
                </dd>

                <dt>
                    Subcategoría
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.subcategorias.nombre)
                </dd>
            </div>
        </div>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-group">
            <input type="submit" value="Eliminar" class="btn boton" />         
        </div>
    }
    <div>
        @Html.ActionLink("Ver llantas", "Index", new { id = "" }, new { @class = "link-item" })
    </div>
</div>
