@model IEnumerable<Proyecto_1.Models.llantas>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutCompras.cshtml";
}

<h2>Llantas</h2>

<p style="margin-top:20px; margin-bottom:40px;">
    @Html.ActionLink("Crear llanta", "Create", new { id = "" }, new { @class = "link-item" })
</p>
<div class="table-responsive" style="width:1000px;">
    <table class="table" overflow-y="auto">
        <tr>
            <th>
                Modelo
            </th>
            <th>
                Precio de venta
            </th>
            <th>
                Marca
            </th>
            <th>
                Categoría
            </th>
            <th>
                Subcategoría
            </th>
            <th>
                Acciones
            </th>
        </tr>

        @foreach (var item in ViewBag.listaLlantas)
        {
            <tr>
                <td>
                    @item.modelo
                </td>
                <td>
                    $@item.precioVenta
                </td>
                <td>
                    @item.marca
                </td>
                <td>
                    @item.categoria
                </td>
                <td>
                    @item.subcategoria
                </td>
                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.Id }, new { @class = "link-item" }) |
                    @Html.ActionLink("Detalles", "Details", new { id = item.Id }, new { @class = "link-item" }) |
                    @Html.ActionLink("Eliminar", "Delete", new { id = item.Id }, new { @class = "link-item" })
                </td>
            </tr>
        }

    </table>
</div>